<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Program.Properties.Settings.WarehouseConnectionString"
   connectionString="Data Source=localhost;Initial Catalog=Warehouse;User ID=sa;Password=sqladmin;Encrypt=True;TrustServerCertificate=True;"
   providerName="System.Data.SqlClient" />
  <add name="WarehouseEntities" connectionString="metadata=res://*/entity.Model1.csdl|res://*/entity.Model1.ssdl|res://*/entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Warehouse;User ID=sa;Password=sqladmin;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True&quot;"
   providerName="System.Data.EntityClient" />
 </connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
