<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Program.Properties.Settings.WarehouseConnectionString" connectionString="Data Source=10.244.8.12;Initial Catalog=Warehouse;User ID=CMSUser;Password=KjP4~7R`FbTjXbWiKo:Z" providerName="System.Data.SqlClient"/>
    <add name="Program.Properties.Settings.WarehouseConnectionString1" connectionString="Data Source=10.244.8.12;Initial Catalog=Warehouse;Persist Security Info=True;User ID=CMSUser;Password=KjP4~7R`FbTjXbWiKo:Z" providerName="System.Data.SqlClient"/>
    <add name="Program.Properties.Settings.WarehouseServerConnectionString" connectionString="Data Source=10.244.8.12;Initial Catalog=WarehouseServer;Persist Security Info=True;User ID=CMSUser;Password=KjP4~7R`FbTjXbWiKo:Z" providerName="System.Data.SqlClient"/>
    <add name="WarehouseEntities" connectionString="metadata=res://*/entity.Model1.csdl|res://*/entity.Model1.ssdl|res://*/entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.244.8.12;Initial Catalog=Warehouse;User ID=CMSUser;Password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="WarehouseServerEntities" connectionString="metadata=res://*/entity.Model1.csdl|res://*/entity.Model1.ssdl|res://*/entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.244.8.12;Initial Catalog=Warehouse;Persist Security Info=True;User ID=CMSUser;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="Program.Properties.Settings.BD_SMCConnectionString" connectionString="Data Source=|DataDirectory|\BD_SMC.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
